/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
	padding-bottom: 40px;
	margin: 0px 100px 50px 100px;
	color: #5a5a5a;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../img/war1.jpg');
	background-color: black;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

.ifram {
	margin-top: 55px;
	width: 100%;
	height: 800px;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
	padding-right: 0;
	padding-left: 0;
}

.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}

.font {
	font-family: 'Distress';
	font-size: 30px;
}

.userpass {
	color: rgba(255, 255, 255, 0.89)
}

.joincolor {
	color: #428bca;
}

.imperoFont {
	font-family: 'Flamenco', cursive;
	color: #428bca;
	font-size: 1.5em;
	margin: 10px 10px 10px 10px;
}

.welcomep {
	margin: 4px 20px 0px 0px;
}

.imperoDiv {
	margin-top: 60px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	float: left;
	width: 50%;
}

.signidiv {
	text-align: center;
	float: right;
	width: 50%;
}

.navBackgroud {
	background-color: rgba(0, 0, 0, 0.64);
}

.logout {
	color: rgba(255, 0, 0, 0.84) !important;
}

.navb {
	width: 88%;
	position: absolute;
	border-radius: 4px;
	border: 1px solid;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	margin-bottom: 3px;
}

.login {
	margin: 70px 0px 50px 0px;
}

#footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.fieldsetpadding {
	margin-top: 15px;
}

.button_margin {
	margin: 0px 0px 0px 20px;
	float: right;
}

.button_right {
	float: left;
}

.impero-text {
	padding: 40px 0px 0px 30px;
}

.tt-query,.tt-hint {
	font-color: black;
	font-size: larger;
}

.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
	color: #999
}

.tt-dropdown-menu {
	width: 200px;
	margin-top: 12px;
	font: larger;
	padding: 8px 0;
	background-color: black;
	color: white;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 8px;
	border-radius: 3px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 18px;
	line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
	color: black;
	background-color: #0097cf;
}

.tt-suggestion p {
	margin: 0;
}

.map-size {
	padding-top: 20px;
	margin-left: 400px;
}

.map-img {
	padding-right: 10px;
}

.small-map {
	padding-top: 14px;
	padding-bottom: 14px;
}

.medium-map {
	padding-top: 7px;
	padding-bottom: 7px;
}

.mapdisplay {
	width: 100%;
	heigth: 100%;
}

.border-color {
	border-color: rgba(30, 197, 30, 0.89);
}

.palyer-list {
	cursor: move;
	width: 255px;
	min-height: 100px;
	margin-left: 60px;
	border-radius: 10px;
	border: solid 1.5px rgb(64, 179, 224);
	background-color: rgba(128, 128, 128, 0.21);
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 5px;
	margin-top: 15px;
	padding-right: 5px;
}

.twitter-typeahead {
	float: left;
}

@font-face {
	font-family: 'Distress';
	src: url('../fonts/Distress.ttf.woff') format('woff'),
		url('../fonts/Distress.ttf.svg#Distress') format('svg'),
		url('../fonts/Distress.ttf.eot'),
		url('../fonts/Distress.ttf.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

.chat:hover {
	color: rgba(0, 163, 255, 0.7);
}

.modal-content {
	background-color: rgba(0, 0, 0, 0.94);
}

.media-list {
	color: white;
}

.preset {
	margin: 0px 80px 0px 80px;
	border: none;
}

.white {
	color: white;
}

.panel-default {
	border-color: rgba(119, 116, 117, 0.91);
	cursor: default;
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #428bca;
	border-color: #000;
}

.panel-body {
	padding: 0px;
	color: #428bca !important;
	padding-right: 15px;
	margin-right: 30px;
}

.col-md-6 {
	width: 50%;
	padding-top: 30px;
}

.gameIcon {
	background-color: rgba(248, 246, 242, 0.71);
	cursor: context-menu;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 20px;
}

.popover {
	background-color : rgba(0,0,0,0.5);
	width : 500px;
}

.popover.right > .arrow:after {
	background-color : rgba(0,0,0,0.5);
}

.popover-content {
	font-family: 'Helvetica';
	font-size : 0.4em;
	background-color : transparent;
	color : white;
}

.popover-title {
	font-family: 'Helvetica';
	font-size : 0.45em;
	background-color : transparent;
	color: white;
	
}