* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    margin: auto;
}
#playground {
    margin: 0 auto;
    position: absolute;
    display: inline;
    z-index: 1;
}
#gamecontainer {
    width: 800px;
    height: 600px;
    /*background-color: yellow;*/

border: 1px solid black;
    position: relative;
    margin: 0 auto;
}
#gamestartscreen {
    position: absolute;
    margin: 0 auto;
    z-index: 2;
    /*background: red;*/

width: 100%;
    height: 100%;
}