/* 
    CSS for the game
    
    @author ?? 

*/

/* -------------------- CLIENT SIDE PART -------------------------- */

@keyframes blink {  
  0% { opacity: 1.0; }
  10% { opacity: 0.95; }
  20% { opacity: 0.8; }
  30% { opacity: 0.6; }
  40% { opacity: 0.5; }
  50% { opacity: 0.3; }
  60% { opacity: 0.5; }
  70% { opacity: 0.6; }
  80% { opacity: 0.8; }
  90% { opacity: 0.95; }
  100% { opacity: 1.0; }
}
@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  10% { opacity: 0.95; }
  20% { opacity: 0.8; }
  30% { opacity: 0.6; }
  40% { opacity: 0.5; }
  50% { opacity: 0.3; }
  60% { opacity: 0.5; }
  70% { opacity: 0.6; }
  80% { opacity: 0.8; }
  90% { opacity: 0.95; }
  100% { opacity: 1.0; }
}
#loadingGame {
	text-align: center;
	color: #428bca
}

#loadingGameText {
	animation: blink 1.2s step-start 0s infinite;
	-webkit-animation: blink 1.2s step-start 0s infinite;
}

.actionLi {
	padding-top: 5px;
	list-style-type: none;
	padding-bottom: 5px;
}

.drag, .actionListClass
{
    height: 30px;
    padding-bottom: 5px;
    position: relative;
    display: block;
}
.close_box 
{
    cursor: pointer;
}
.drag 
{
	float:right;
    z-index: 100;
    position: absolute;
    opacity: .50;
}

body 
{
	background: rgba(0, 0, 0, 1);
    margin: 0px;
    padding: 0px;
    font-family: 'Distress';
    height: 100%;
}

#mainGameGUI {
	margin-left: 0px;
	margin-right: 0px;
}

.gamePanelContainer {
	padding-left: 5px;
	padding-right: 5px;
}

canvas
{
    display: inline;
}

ul
{
    padding: 0;
}

#game {
	background: black;
	padding-left: 0px;
	padding-right: 0px;
	position: absolute;
	width: 100%;
}

#top
{
    width: 100%;
    /* height: 4%; */
    height: 75px;
    margin: 0 auto;
    /* margin-bottom: 1%; */
    margin-bottom: 5px;
    display: block;
    z-index: 1;
    padding: 1em;
    border: 0 2px 2px 2px;
    border-radius: 2px;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    color: rgb(149, 149, 149);
    font-size: 1.5em;
}

.panel
{
	background-color: rgba(50, 50, 50, .8) !important;
	border: 1px solid gray;
    color: rgba(255,255,255, 1);
}

/* ovverride welcome.css (by Jesper) */
.panel-body {
	padding: 0;
	margin: 0;
}

.panel-default>.panel-heading
{
    border: none;
    background-color: rgba(66, 139, 202, 0.8);
    color: rgba(255,255,255, 1);
}

#left
{
    min-height: 100%;
    height: 100%;
}

#right
{
    min-height: 100%;
    height: 100%;
}

.statusProperty
{
    display: inline;
    z-index: 2;
    padding: 2px;
    margin: 0 30px;
    font-size:smaller;
}

#playerName:before
{
    content: "You: ";
}

#energyPoints:before
{
	color : orange;
    content: "EP: ";
}

#actionPoints:before
{
	color:green;
    content: "AP: ";
}

.a-btn
{
    padding-right: 20px;
    position: static;
    display: inline;
}

.a-btn .a-btn-slide-text
{
    width: 70px;
}

.a-btn:hover
{
    padding-right:20px;
    text-decoration:none;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    cursor: pointer;
}
.a-btn:hover .a-btn-text{
    text-shadow: 0px 1px 1px #5d81ab;
    color:black;
}
.a-btn:hover .a-btn-slide-text{
    width: 70px;
}
.a-btn:hover .a-btn-icon-right span{
    opacity:1;
}

#idActionListDiv
{
	/*@@@@@@@@@@@@@@@@TAKE CARE WHEN CHANGING THIS SETTINGS, THEY AFFECT THE DRAGABLE FUNCTION@@@@@@@@@@@@@@*/
    /*background-color: rgba(255, 255, 255, 0.8);*/
    position:relative;
 	z-index: 2;
  	opacity: 1;
  	filter: alpha(opacity=100);
  	top: 0px;
  	left: 0px;
}

#idActionListDiv div:hover
{
    color: rgba(66, 139, 202, 0.8);
}


#idActionListDiv button
{
	
   	float: left;
}

#idArmySummaryDiv
{
    min-width: 100%;
    z-index: 2;
    /*background-color: rgba(255, 255, 255, 0.8);*/
}

#idArmySummaryDiv div
{
    /*border: 1px solid #ddd;*/
    cursor: pointer;
    z-index: 2;
}

#idArmySummary div:hover
{
    color: #000000;
    /*background-color: #CCCCCC;
    background-repeat: repeat-x;*/
    cursor: pointer;
}

.army > ul {
	margin-top: 5px;
	padding-right: 5px;	
}

.army li
{
    list-style-type: none;
    padding:10px 5px 0 5px;
}

.army .parent_li {
	padding-top: 0px;
}

.parent_li > div {
	padding-top: 5px;
	padding-bottom: 5px;
}

.actionListClass:hover
{
    color: #000000;
    /*background-color: #CCCCCC;
    background-repeat: repeat-x;*/
    cursor: move;
}

/* entity menu (by Jesper) */

#entityMenu
{
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    padding: 0 30px;
}

#entityMenuTitle {
	text-transform: uppercase;
}

.entityAction
{
    padding: 1px 3px .5px;
}

.entityAction:hover, .actionLi:hover, .parent_li > div:hover, .aUnit:hover
{
    background-color: rgba(66, 139, 202, 0.8);
    cursor: pointer;
    color: white;
}

.entityActions div
{
    padding: 5px;
}

.entity_health
{
    float: left;
    margin-right: 10px;
}

.modal
{
	font-family: 'Distress';
}

#entityStats
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.row{
	padding-bottom:5px;
}

.list-group {
padding-bottom: 20px;
padding-left: 5px;
}
.pull-right{
	margin-right:10px;
}
.energy{
	color:orange;
}


.action{
	color:green;
}

#actionList {
	margin-top: 5px;
	padding-right: 5px;
}

.playerStatus, .entityActionRow {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 5px;
	padding-right: 5px;
}